body > h1{
    visibility: hidden;
}
.wrapper div.header{
    background: #353131;
}
.wrapper div.right, .wrapper div.pagination{
    background: transparent;
    border-left: 1px dotted silver;
}
.wrapper div.header *, .wrapper div.header .logo a{
    color: whitesmoke;
}
body{
    background: transparent;
}
.post-fragment{
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 10px #888888;;
}
.post-fragment .date{
    font-size: 0.7em;
    position: absolute;
    top: 1em;
    right: 1em;
    background: rgba(2, 2, 2, 0.5);
    color: whitesmoke;
    padding: 0.1em 0.2em;
    border-radius: 2px;
}
.post-content > div > img{
    display: block;
    margin: 0 auto;
}
.mobile-nav .bio{
    padding: 1em;
    background-color: darkgrey;
    color: white;
    border: none;
}
.mobile-nav .bio-pic{
    text-align: center;
    background-color: darkgrey;
}
.mobile-nav img.avatar {
    width: 100%;
    height: auto;
    border-radius: 0;
}
div.post > div.post-body > div.post-content > blockquote > div:first-child{
    padding-top: 1.5em;
}
div.post > div.post-body > div.post-content > blockquote > div:last-child{
    padding-bottom: 1.5em;
}
div.post > div.post-body > div.post-content > blockquote > div{
    padding: 0 1.5em;
}
blockquote{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    line-height: 1.2em;
    max-width: 100%;
    overflow: auto;
    padding-left: 0.5em;
    border-left: 10px solid silver !important;
}
blockquote > div{
    white-space: pre;
}
.post-content{
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
}
div.post div.post-body .post-content > div {
    margin: 0.5em auto !important;
}
.post{
    max-width: 740px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 36px;
}
div.post div.post-body .post-content ul li {
    margin: 0.5em auto;
}
div.post div.post-body{
    letter-spacing: -0.003em;
    word-spacing: 0.1em;
}
.header .logo,
.logo .icon{
    height: 60%;
}
.logo .icon{
    margin-bottom: -0.4em;
    margin-left: -0.5em;
    margin-right: 0.5em;
}
div.mobile-nav ul {
    max-height: 90vh;
    overflow: auto;
    padding-bottom: 2.5em;
}
div.mobile-nav ul li a:hover {
    background-color: inherit;
    color: inherit;
}
@media (max-width: 560px){
    div.post{
        padding: 0;
        line-height: 28px;
        font-size: 18px;
    }
    blockquote{
        margin: 1em auto !important;
    }
}
img.avatar {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/* Custom hamburger menu */
div.mobile-nav a.toggle{
    height: 20px;
    width: 30px;
    right: 1em;
    top: 1.1em;
}
.mobile-nav .toggle .menu-slice{
    height: 4px;
    width: 100%;
    background-color: silver;
    margin: 6px 0;
    border-radius: 4px;
}




